<h1>Diff of <a href="/<%= u @page.name %>"><%= h @page.name %></a></h1>

<nav class="sub_nav">
  <a href="/a/patch/<%= u @page.name %>/<%= h params[:rev] %>" class="nav_link">patch file</a> &bull;
  <a href="/h/<%= u @page.name %>" class="nav_link">history</a> &bull;
  <a href="/e/<%= u @page.name %>" class="nav_link">edit</a>
</nav>

<section class="content">
<pre class="diff"><code>
<%= h @page.delta(params[:rev]) %>
</code></pre>
</section>
