<h1>Diff of <a href="/<%= h @page.uri_encoded_name %>"><%= h @page.uri_encoded_name %></a></h1>

<nav class="sub_nav">
  <a href="/a/patch/<%= h @page.uri_encoded_name %>/<%= h params[:rev] %>" class="nav_link">patch file</a> &bull;
  <a href="/h/<%= h @page.uri_encoded_name %>" class="nav_link">history</a> &bull;
  <a href="/e/<%= h @page.uri_encoded_name %>" class="nav_link">edit</a>
</nav>

<section class="content">
<pre class="diff"><code>
<%= h @page.delta(params[:rev]) %>
</code></pre>
</section>
