<article>

  <aside>
    <a href="/<%= u @page.name %>" class="nav_link">current</a> &bull;
    <a href="/e/<%= u @page.name %>" class="nav_link">edit</a>
  </aside>

  <h1>History of <a href="/<%= u @page.name %>"><%= h @page.name %></a></h1>

  <ul>
  <% @page.history.each do |c| %>
    <li>
      <%= h c.committer_date %>
      &mdash;
      <a href="/h/<%= u @page.name %>/<%= h c.sha %>"><%= h c.message %></a>
      <% unless @page.history.first == c %>
        &bull; <a href="/d/<%= u @page.name %>/<%= h c.sha %>">diff</a>
      <% end %>
    </li>
  <% end %>
  </ul>
</article>
