<article>
  <aside>
    <section class="details">
      <p><%= h @titles.size %> titles matching</p>
      <p><%= h @grep.size %> pages contain match</p>
      <p><%= h @grep.map { |g| g[1].size }.inject { |acc, n| acc + n } %> results</p>
    </section>
    <p>Create <a href="/<%= h @search %>"><%= h @search %></a>.</p>
  </aside>

  <% if @grep.empty? %>
    <h1>No pages match</h1>
  <% else %>
    <h1>Results for '<span class="search_term"><%= h @search %></span>'</h1>
  <% end %>

  <section class="results">
    <% [@titles, @grep].each do |x| %>
        <% x.each do |sha, arr_match| %>
        <div class="search_result">
          <% (sha, file) = sha.split(':') %>
          <% arr_match.each do |line, match| %>
            <div class="match">
              <tt><%= h match %></tt><br />
              &mdash; <a href="/<%= h file %>"><%= h file %></a>, line <%= h line %> (<%= h $repo.object(sha).name %>)
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </section>
</article>
